@using System.Collections.Generic;
@using miniprojekt.Shared
@using miniprojekt.Client.Components 
@using MongoDB.Bson;
@using MongoDB.Driver;

@inject HttpClient Http
@page "/shelterbooking"

<h1>Shelteroversigt</h1>

<p>Her kan du se alle shelters og foretage bookinger.<br /><b>Bemærk!</b> En booking er gyldig fra kl. 12.00 på startdatoen til kl. 12.00 på slutdatoen.</p>

@if (shelters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <head>
        <title>Shelter booking</title>
        <style>
            .tableFixHead {
                overflow-y: auto;
                height: 450px;
                overflow-x: auto;
                width: 1000px;
                border-radius: 0.5%;
            }

                .tableFixHead thead th {
                    position: sticky;
                    top: 0;
                }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                padding: 8px 16px;
                border: 1px solid #ccc;
                background: #91b247;
            }

            th {
                padding: 8px 16px;
                border: 1px solid #ccc;
                background: #597c2b;
            }
        </style>
    </head>


    <body>
        <div class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Kommune</th>
                        <th>Antal pladser</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shelter in shelters)
                    {
                        <tr>
                            <td>@shelter.properties.navn</td>
                            <td>@shelter.properties.cvr_navn</td>
                            <td>@shelter.properties.antal_pl</td>
                            <td><button type="button" class="btn btn-outline-dark btn-sm" @onclick="() => OpenBookDialog(shelter._id, shelter.properties.navn)">Book</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>

    @if (BookDialogOpen)
    {
        <miniprojekt.Client.Components.ModalDialog Title="Du er ved at booke et shelter" Text="Udfyld alle felter og bekræft booking ved at trykke OK" OnClose="@OnBookDialogClose"></miniprojekt.Client.Components.ModalDialog>
    }

}





@code {

    private shelter[] shelters;

    public bool BookDialogOpen { get; set; }

    private void OnBookDialogClose(bool accepted)
    {
        BookDialogOpen = false;
        StateHasChanged();

    }

    private void OpenBookDialog(string id, string navn)
    {

        BookDialogOpen = true;
        ModalDialog.testBook.shelter_id = id;
        ModalDialog.testBook.shelter_navn = navn;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        shelters = await Http.GetFromJsonAsync<shelter[]>("Shelter");

    }





}
