@page "/bookingoversigt"
@using miniprojekt.Shared
@inject HttpClient Http

<h1>Bookingoversigt</h1>

<p>Her ses alle bookinger af shelters.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Shelter_id</th>
            <th>Startdate</th>
            <th>Slutdato</th>
            <th>Antal personer</th>
            <th>Bruger_id</th>
            <th>@forecasts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
        {
            Console.WriteLine(string.Join("\t", forecast));
            <tr>
                <td>@forecast.properties.cvr_navn</td>
                <td>@forecast.properties.navn</td>
            </tr>
        }
    <tr>
        <td>@forecasts</td>
    </tr>
    </tbody>
</table>
}

@code {
    private shelter[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<shelter[]>("WeatherForecast");
        
        
    }
    Booking testBook = new Booking(DateTime.Now, DateTime.Now.AddDays(1), 5, "Placeholder", "sadjsaBruger");


}
