@page "/"

<h3>Velkommen til Book en Shelter</h3>

<br />
<br />
<br />
<h6>Velkommen til vores store shelternetværk! Her på siden finder du en lang række shelterpladser i Aarhus, Skanderborg, Silkeborg og Oder kommune.</h6>
<h6>Find information om shelterpladserne og deres faciliteter, og book din overnatning direkte her på siden.</h6>
<br />
<br />
<h6>Oplev naturen helt tæt på og få en fantastisk friluftsoplevelse. God tur!</h6>